@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* border: 1px solid rgb(1, 195, 209); */

}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    margin: 60px 0px;
}

.ring,
.buttons {
    display: flex;
    align-items: center;
}

.counter {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    flex-shrink: 0;
    width: 100px;
}

.counter div{
    width: 40px;
}

.my-choice,
.pc-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 180px;
    height: 200px;

}

img.right {
    transform: scaleX(-1);
}

p{
    margin:0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: #FFFFFF;
    border: 1px solid #828282;
    border-radius: 7px;
    width: 100px;
    height: 100px;
    margin: 10px 10px;

    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

footer {
    position: fixed;
    text-align: center;
    background-color: rgb(236, 236, 236);
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}